$grayD60: #242626;
$grayL20: #7A7F80;
$grayL60: #BDBFBF;
$grayL80: #DEDFDF;
$grayBase: #595F60;
$gray: #D0DCE1;
$blue: #125169;
$mainBackground: #ECEFF4;
$white: #fff;
$primary: #4C396F;
$planetBlue: #011F49;


.gray-base-color {
    color: $grayBase;
}

.gray-l80-color {
    color: $grayL80;
}
